<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jadeappstudio.pembukuantk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PembukuanTK">
        <activity android:name=".ui.DetailProductActivity"></activity>
        <activity android:name=".EditProductActivity" />
        <activity android:name=".AddUserActivity" />
        <activity android:name=".UsersManagementActivity" />
        <activity android:name=".ui.DetailInvoiceActivity" />
        <activity android:name=".ui.ChooseCustomerActivity" />
        <activity android:name=".ui.AddInvoiceActivity" />
        <activity android:name=".ui.DetailCustomerActivity" />
        <activity android:name=".ui.AddProductStockActivity" />
        <activity android:name=".ui.AddProductActivity" />
        <activity android:name=".ui.AddCustomerActivity" />
        <activity
            android:name=".ui.BottomNavActivity"
            android:label="@string/title_activity_bottom_nav" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>